* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color:#1D2528;
    font-family: "Bowlby One", sans-serif;
    font-weight: 400;
    color: #EA4130;
    font-style: normal;
    font-size: 50px;
}

body{
    width: 100%;
}


.container {
    display: inline-block;
    justify-content: center;
    position: absolute;
    margin: 10px;
    top: 40%;
    font-size: 25px;
    text-align:center;

  }



#p1 {
   letter-spacing: 3px;
   border-right: 5px solid; 
   width: 100%;
   margin-left: 5%;
   white-space: nowrap;
   overflow: hidden;
   animation: 
        typing 2s, 
        cursor .4s step-end infinite alternate;

}

#p2 {
    padding-top: 50%;
    padding-bottom: 70%;

}

#next {
    text-decoration: none;
    animation-name: glows;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

#neon {
   text-decoration: none;
   animation-name: glow;
   animation-duration: 10s;
   animation-iteration-count: infinite;
   animation-direction: alternate;
   animation-timing-function: linear;
}
    
/* keyframes*/

/* Code Inspo from Mark Sarpong (codepen) */
@keyframes cursor {
    50% {border-color: transparent;}
}
@keyframes typing {
    from {width: 0}
}

/* Glow Animation Inspo from Student Example - Jose O */ 
@keyframes glow {
    0% {
        text-shadow: 0 0 50px gold;
        color: gold;
     }
     50% {
         text-shadow: 0 0 50px gold;
         color: gold;
     }
     100% {
         text-shadow: 0 0 50px #f22222;
         color: black;
     }
}

@keyframes glows {
0% {
    text-shadow: 0 0 50px rgb(0, 114, 149);
    color: whitesmoke;
 }
 100% {
     text-shadow: 0 0 50px rgb(0, 114, 149);
     color: whitesmoke;
 }
}

